<%= form_for form_helper(params), html: {class: "ui form"} do |f| %>

  <div class="five wide field">
    <%= f.label :entry %>
    <%= f.text_field :entry %>
  </div>

  <%= f.submit "Add Note", class: 'ui button'%>
<% end %>
