<h1>List of Bill Companies</h1>

<ul>
  <% @companies.each do |company| %>
    <li><%= link_to "#{company.name}", company_path(company.id) %>,   <%= link_to "Add a new Note", new_company_note_path(company.id) %></li>
  <% end %>
</ul>
<%# <%= @companies.has_any? %1> %>
  <% if @companies.empty? %>
    <p>You currently do not have any companies</p>
  <% end %>

  <%= link_to "Add a new company", new_company_path %>
