<div class="ui menu">
  <div class="header item">
    Bill Tracker
  </div>

  <a class="item">Accounts</a>
  <a class="item">Companies</a>

  <div class="right menu">
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "item" %>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "item" %>
    <% end %>
  </div>
</div>
